@model DocNuget.Models.Namespace

<button class="btn btn-link btn-xs" data-toggle="collapse" data-target="#collapse-ns-@(Model.FullName.Replace(".", "-"))">
  <span class="glyphicon glyphicon-triangle-right"></span>
</button>
<b>
  @Html.ActionLink(string.IsNullOrEmpty(Model.Name) ? "<unnamed>" : @Model.Name, "Show", "Namespace", new { package = Model.Assembly.Package.Id, version = Model.Assembly.Package.Version, assembly = Model.Assembly.Name, framework = Model.Assembly.Framework, @namespace = Model.Name })
</b>
<ul id="collapse-ns-@(Model.FullName.Replace(".", "-"))" class="collapse" style="list-style: none">
  @foreach (var @namespace in Model.Namespaces) {
    <li>@Html.Partial("_Namespace", @namespace)</li>
  }
  @foreach (var type in Model.Types) {
    <li>@Html.ActionLink(type.Name, "Show", "Type", new { package = Model.Assembly.Package.Id, version = Model.Assembly.Package.Version, assembly = Model.Assembly.Name, framework = Model.Assembly.Framework, @namespace = Model, type = type })</li>
  }
</ul>
