<div class="alert alert-danger">
  Whoops <code><a class="alert-link" href={{ this.path }}>{{ this.path }}</a></code>
  appears to be missing. Guess you should go
  <a class="alert-link" href="javascript:history.back()">back</a>
  and hope it gets added soon.
</div>
